@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slide-in {
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.slide-in-hidden {
  transform: translateX(-100%);
} */
